.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;

  background-color: #181a1b;
  background-size: cover;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  line-height: 1.15;
  font-size: calc(24px + (48 - 14) * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
  z-index: 10;

  cursor: pointer;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.red {
  color: #f24141;
}

.light {
  color:#fdfdfd;
}

.mining {
  margin: 0;
  line-height: 1.15;
  font-size: calc(24px + (32 - 14) * ((100vw - 300px) / (1600 - 300)));
  color:#fdfdfd;
}

.content {
  margin: auto;
  width: 50%;
  text-align: center;
  color:#fdfdfd;
}
